
.full-width {
    width: 100%;
    margin: auto;
}
.error-style {
    
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}
.view{
    position: fixed;

}
.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
}

.loginCard{
    text-align: center;
}

button
{
    margin:0px 5px;
}
.pull-right
{
    float: right;

}
.search-box
{
    width:80%;
    margin:auto;
        }

.width-75
{
    width:75%;
    margin:auto;
}
.pull-left
{
    float: left;
}
.expand{

  -webkit-animation: moveDown 1s .1s ease forwards;
  animation: moveDown 1s .1s ease forwards;
}

 
@-webkit-keyframes moveDown {
  
  
  100% {
   width:65%;
  }
}

@keyframes moveDown {

  100% {
   width:65%;
  }
}

.expand-out{

  -webkit-animation: moveDowns 1s .1s ease forwards;
  animation: moveDowns 1s .1s ease forwards;
}


@-webkit-keyframes moveDowns {
  0% {
   }
  50% {
    
  }
  100% {
   width:100%;
  }
}

@keyframes moveDowns {
  0% {
   }
  50% {
    
  }
  100% {

   width:100%;
  }
}
 
.paddings
{
    padding:1% 5%;
    
}
.big-res
{
    font-size: 40px;
}
.form-style
{
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc; 
  animation: blink 1s linear infinite;
}

@keyframes blink
{
    50%{

    -webkit-box-shadow: 3px 3px 5px 6px #6d587a;  
  -moz-box-shadow:    3px 3px 5px 6px #6d587a;  
  box-shadow:         3px 3px 5px 6px #6d587a; 
    }
}


@media (max-width: 400px) {
.big-res
    {
    font-size: 25px;
}
    
}

@media (max-width: 551px) {
.big-res
    {
    font-size: 30px;
}
    
}




