<app-login-header *ngIf="title=='Coordinator' || title=='Supervisor'">
</app-login-header>
<app-header *ngIf="title=='Admin'"></app-header>

<!--Register card-->
<md-grid-list cols="1" rowHeight="1750">
  <md-grid-tile>
    <!--card Start-->
    <md-card class="loginCard">
      <md-card-title>
        <h2 class="text-center title">{{title}} Registration</h2>
      </md-card-title>
      <md-card-content>
        <form [formGroup]="userForm">
          <!--Credentials division-->
          <div class="division">
            Credential Details
          </div>
          <!--Email-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">mail</i>
            </div>

            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">

                <input formControlName="emailControl" mdInput placeholder="Email" [readonly]="emailDisable" />
                <md-hint align="start" class="full-width">
                  <!-- Email required validation-->
                  <div class="errorStyle" *ngIf="userForm.get('emailControl').hasError('required') && userForm.get('emailControl').touched">
                    Email is required
                  </div>
                  <!-- Email pattern validation-->
                  <div class="errorStyle" *ngIf="userForm.get('emailControl').hasError('pattern') && userForm.get('emailControl').touched">
                    Invalid email
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--passowrd-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="passwordControl" minlength="8" type="password" class="validate" placeholder="Password" />
                <md-hint align="start" class="full-width">
                  <!-- Password required validation-->
                  <div class="errorStyle" *ngIf="userForm.get('passwordControl').hasError('required') && userForm.get('passwordControl').touched">
                    Password is required
                  </div>
                  <!--Password length validation-->
                  <div class="errorStyle" *ngIf="userForm.get('passwordControl').hasError('minlength') && userForm.get('passwordControl').touched">
                    Password should more than 7 character
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--confirm password-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">lock</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="confirmPasswordControl" minlength="8" type="password" class="validate" placeholder="Confirm Password"
                />
                <md-hint align="start" class="full-width">
                  <!-- Confirm password required validation-->
                  <div class="errorStyle" *ngIf="userForm.get('confirmPasswordControl').hasError('required') && userForm.get('confirmPasswordControl').touched">
                    Confirm Password is required
                  </div>
                  <!--Confirm Password length validation-->
                  <div class="errorStyle" *ngIf="userForm.get('confirmPasswordControl').hasError('minlength') && userForm.get('confirmPasswordControl').touched">
                    Password should more than 7 character
                  </div>
                  <!-- Matching password  validation-->
                  <div class="errorStyle" *ngIf="(!userForm.get('confirmPasswordControl').valid) && !userForm.get('confirmPasswordControl').hasError('required') &&!userForm.get('passwordControl').hasError('required') && userForm.get('confirmPasswordControl').touched">
                    Mismatch Password
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>


          <!--Personal info division-->
          <div class="division">
            Personal Details
          </div>

          <!--First Name-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">perm_identity</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="firstNameControl" id="fname" type="text" class="validate" placeholder="First Name" />
                <md-hint align="start" class="full-width">
                  <!-- Name required validation-->
                  <div class="errorStyle" *ngIf="userForm.get('firstNameControl').hasError('required') && userForm.get('firstNameControl').touched">
                    Name is required
                  </div>
                  <!-- Name pattern validation-->
                  <div class="errorStyle" *ngIf="userForm.get('firstNameControl').hasError('pattern') && userForm.get('firstNameControl').touched">
                    Name should be more than 2 alphabets
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Last Name-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">perm_identity</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="lastNameControl" type="text" class="validate" placeholder="Last Name" />
                <md-hint align="start" class="full-width">
                  <!-- Name pattern validation-->
                  <div class="errorStyle" *ngIf="userForm.get('lastNameControl').hasError('pattern') && userForm.get('lastNameControl').touched">
                    Name should be more than 2 alphabets
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--Gender-->
          <div fxLayout="row" fxLayoutAlign="start end" class="gender">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">wc</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93" class="full-width">
              <md-radio-group formControlName="genderControl">
                <md-radio-button value="male">Male</md-radio-button>
                <md-radio-button value="female">Female</md-radio-button>
              </md-radio-group><br>
              <!-- Name required validation-->
              <div class="errorStyle" *ngIf="userForm.get('genderControl').hasError('required') && userForm.get('genderControl').touched">
                Gender is required
              </div>
            </div>
          </div>

          <!--Adhar-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">chrome_reader_mode</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="aadharControl" type="text" class="validate" placeholder="Aadhar No. (Optional)" />
                <md-hint align="start" class="full-width">
                  <!--<div *ngIf="userForm.get('aadharControl').hasError('pattern')" class="errorStyle">Invaild Aadhar</div>-->
                </md-hint>
              </md-input-container>
            </div>
          </div>



          <!--Date of Birth-->
          <!--<div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex>
              <md2-datepicker formControlName="dob" [(ngModel)]="date" class="full-width">date</md2-datepicker>
            </div>
          </div>-->

          <!--Contact info division-->
          <div class="division">
            Contact Details
          </div>

          <!--Mobile No-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">call</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="mobileControl" type="text" class="validate" placeholder="Mobile No." />
                <md-hint align="start" class="full-width">
                  <!-- Mobile number required validation-->
                  <div class="errorStyle" *ngIf="userForm.get('mobileControl').hasError('required') && userForm.get('mobileControl').touched">
                    Mobile Number is required
                  </div>
                  <!-- Mobile number pattern validation-->
                  <div class="errorStyle" *ngIf="userForm.get('mobileControl').hasError('pattern') && userForm.get('mobileControl').touched">
                    Mobile Number should be 10 digit
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--location Pincode-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">dialpad</i>
            </div>
            <div fxFlex>
              <md-input-container class="full-width">
                <input mdInput formControlName="pincodeControl" type="text" class="validate" placeholder="Pincode" (keyup)="getPincode()"
                />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('pincodeControl').hasError('pattern')" class="errorStyle">Invaild Pincode</div>
                  <div *ngIf="userForm.get('pincodeControl').hasError('required') && userForm.get('pincodeControl').touched" class="errorStyle">
                    Pincode is required
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--location area-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">my_location</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-select formControlName="locationControl" placeholder="Select Area*" class="full-width">
                <md-option *ngFor="let area of areaList" [value]="area">
                  {{ area }}
                </md-option>
              </md-select>
              <!-- Location required validation-->
              <div class="errorStyle" *ngIf="userForm.get('locationControl').hasError('required') && userForm.get('locationControl').touched">
                Location is required
              </div>
            </div>
          </div>

          <!--Placement division-->
          <div class="division">
            Placement Details
          </div>
          <!--Profession-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons ">layers</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md2-select formControlName="professionControl" placeholder="Profession*" [multiple]="true" #selectMultipleControl>
                <md2-option color="accent" *ngFor="let currentProfession of professions" value="{{currentProfession}}">{{currentProfession}}</md2-option>
              </md2-select>
              <!-- Profession required validation-->
              <div class="errorStyle" *ngIf="userForm.get('professionControl').hasError('required') && userForm.get('professionControl').touched">
                Profession is required
              </div>


            </div>
          </div>

          <div [hidden]="hiddenParticularRole">
            <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
              <div fxFlex.xs="10" fxFlex.gt-xs="7">
                <i class="material-icons formIcons levelIcon">supervisor_account</i>
              </div>
              <div fxFlex.xs="90" fxFlex.gt-xs="93">
                <md-input-container class="full-width">
                  <input formControlName="roleControl" mdInput placeholder="Role*" [readonly]="disabled" />
                </md-input-container>
                <!-- Role required validation-->
                <div class="errorStyle" *ngIf="userForm.get('roleControl').hasError('required') && userForm.get('roleControl').touched">
                  Role is required
                </div>
              </div>
            </div>
          </div>

          <div [hidden]="hiddenRole">
            <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
              <div fxFlex.xs="10" fxFlex.gt-xs="7">
                <i class="material-icons formIcons levelIcon">supervisor_account</i>
              </div>
              <div fxFlex.xs="90" fxFlex.gt-xs="93">
                <md2-select formControlName="roleControl" placeholder="Role*" [multiple]="true" #selectMultipleControl>
                  <md2-option *ngFor="let currentRole of roles" value="{{currentRole}}">{{currentRole}}</md2-option>
                </md2-select>

                <!-- Role required validation-->
                <div class="errorStyle" *ngIf="userForm.get('roleControl').hasError('required') && userForm.get('roleControl').touched">
                  Role is required
                </div>
              </div>
            </div>
          </div>

          <!--Registration ID-->
          <div fxLayout="row" fxLayoutAlign="start end">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">assignment_ind</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-input-container class="full-width">
                <input mdInput formControlName="registrationControl" type="text" class="validate" placeholder="Registration Id" />
                <md-hint align="start" class="full-width">
                  <div *ngIf="userForm.get('registrationControl').hasError('required') && userForm.get('registrationControl').touched" class="errorStyle">
                    Registration ID is required
                  </div>
                </md-hint>
              </md-input-container>
            </div>
          </div>

          <!--placementCenter-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons levelIcon">person_pin_circle</i>
            </div>
            <div fxFlex.xs="90" fxFlex.gt-xs="93">
              <md-select formControlName="placementControl" ng-model="placementSelect" #placementCenterId class="full-width" placeholder="Placement Center*">
                <md-option *ngFor="let center of placementCenters" value="{{center}}">{{center}}</md-option>
              </md-select>
              <!-- Placement center required validation-->
              <div class="errorStyle" *ngIf="userForm.get('placementControl').hasError('required') && userForm.get('placementControl').touched">
                Placement is required
              </div>
            </div>
          </div>

          <!--Langyuage-->
          <div fxLayout="row" fxLayoutAlign="start end" class="dropdown">
            <div fxFlex.xs="10" fxFlex.gt-xs="7">
              <i class="material-icons formIcons">language</i>
            </div>
            <div fxFlex>
              <md2-select formControlName="languageControl" placeholder="Language*" [multiple]="true" #selectMultipleControl>
                <md2-option *ngFor="let language of languages" value="{{language}}">{{language}}

                </md2-option>
              </md2-select>
              <!-- Name required validation-->
              <div class="errorStyle" *ngIf="userForm.get('languageControl').hasError('required') && userForm.get('languageControl').touched">
                Language is required
              </div>
            </div>
          </div>

          <!--Register Button-->
          <div fxLayout="row">
            <button md-raised-button color="primary" class="full-width registerBtn" type="button" (click)="save(userForm)" [disabled]="!userForm.valid">Register</button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<app-footer *ngIf="title=='Admin'"></app-footer>
<app-login-footer *ngIf="title=='Coordinator' || title=='Supervisor'"></app-login-footer>