<div [class]="flip1">

    <md-card class="cardColor profile-card">
        <md-card-title *ngIf="flip1 !='flip'">

            <!-- here’s the avatar -->
            <a target="_blank" href="#">
                <img src="http://images.indianexpress.com/2016/06/viratkohlil.jpg" class="hoverZoomLink">
            </a>

            <!-- the username -->
            <h1>
                Virat Kohli
            </h1>

            <!-- and role or location -->
            <h2>
                Full Stack Developer
            </h2>

        </md-card-title>
        <div class="fli  profile-bio" *ngIf="flip1 =='flip'">
            <h3>Skills</h3>
            <p *ngFor="let skill of skills">
                {{skill}}<br>
            </p>

            <h3>Qualifications</h3>
            <p *ngFor="let qualification of qualifications">
                {{qualification}}<br>
            </p>
            <h3>Communications</h3>
            <p *ngFor="let communication of communications">
                {{communication}}<br>
            </p>
            <h3>Location</h3>
            <p>
                {{location}}<br>
            </p>

            <button md-button (click)="changeCard()"><i class="material-icons">rotate_left</i></button>
        </div>

        <!-- bit of a bio; who are you? -->
        <div *ngIf="flip1 !='flip'" class="profile-bio">
            <p>
                Experience:{{experience}} years
            </p>
            <p>
                Age: {{age}} years old
            </p>
            <h3>Contact Details</h3>
            <p>
                {{mobileNumber}}
            </p>
            <p>
                {{email}}
            </p>

            <button md-button (click)="changeCard()"><i class="material-icons">rotate_left</i>      
</button>

        </div>

        <!-- some social links to show off -->
        <div class="cardColor profile-social-links">
        <md-card-actions  layout="row" layout-align="end center" *ngIf="flip1 !='flip'">
            <button md-button class="right"><i class="material-icons">share</i>      
</button>
            <button md-button class="right"> <i class="material-icons">file_download</i></button>
        </md-card-actions>
        </div>
    </md-card>
</div>