md-card {
    max-width: 700px;
    margin: auto;
    background: #ebebe0;
}
.full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
.errorStyle {
    position: absolute;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}
.view{
    position: fixed;

}
.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
}

.loginCard{
    text-align: center;
}
button{
    position: absolute;
   margin-top:20px;
   padding:0px; 
   margin-left: -10px;

}

@media (min-width: 10px) {
    md-card {
        top: 56px;
        width:200px;
    }
    .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}

@media (min-width: 320px) {

    md-card {
        top: 56px;
        width:310px;
    }
    
    
}




/*for Medium screens*/


@media (min-width: 350px) {
    md-card {
        top: 70px;
                width:300px;

    }
    .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}
@media (min-width: 400px) {

    md-card {
        top: 56px;
        width:260px;
    }
    
    
}


@media (min-width: 480px) {
    md-card {
        top: 70px;
                width:450px;

    }
    .loading {
        padding-left: 40%;
        padding-top: 50%;
    }
}

/*for large screens*/

@media (min-width: 768px) {
    md-card {
        top: 100px;
                width:550px;

    }
    .loading {
        padding-left: 47%;
        padding-top: 10%;
    }
}


